body {
    background: #2E4F4F;
    text-align: center;
    border: 0px;
  }
  
section{
    font-family: 'Bungee Inline', cursive;
    color: #CBE4DE;

}

  h1 {
    font-family: 'Bungee Inline', cursive;
    color: #CBE4DE;
  }
 #letter-container {
    display: flex;
    margin: 480px;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    align-content: center;
   
   
 }

.alpha-button{
  font-family: 'Bungee Inline', cursive;
  border-radius: 12px; 
  padding-right: 20px;
  padding-left: 20px;  
  font-size: medium;
  cursor: pointer;
  background-color: #2C3333 ;
  color: #CBE4DE;
   
}

#new-game-button{

    font-family: 'Bungee Inline', cursive;
    border-radius: 12px; 
    padding-right: 20px;
    padding-left: 20px;  
    font-size: medium;
    cursor: pointer;
    background-color: #2C3333 ;
    color: #CBE4DE;
     

}




