body {
  background: #000000;
  text-align: center;
  border: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  padding: 20px;
}


main{
  position: relative;
  background:#e7b10a;
  padding: 40px;
  border-radius: 80px;
  margin:auto;
  height: fit-content;
  box-shadow: 20px 20px 50px 10px rgb(2, 2, 2) inset;

  
}

h1 {
  font-family: 'Bungee Inline', cursive;
  color: #000000;
}

h2{
   font-family: 'Bungee Inline', cursive;
  border-radius: 12px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: medium;
  cursor: pointer;
  background-color: #000000;
  color: #E7B10A;
  margin: 20px 0;
}

.text{

  font-family: 'Bungee Inline', cursive;
  color: #2a2625;
  font-size: large;
  

}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    width: 475px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}




.letter-button{
  font-family: 'Bungee Inline', cursive;
  border-radius: 5px;
  box-shadow: 4px 2px #e7b10a;
  padding-right: 20px;
  padding-left: 20px;
  font-size: small;
  cursor: pointer;
  background-color: #000000;
  color: #E7B10A;
  margin: 5px;
  width: 40px;
  height: 40px;
}

.letter-button:hover {
  opacity: 0.5;
  color: #4C4B16;
}

#reset-button {
  font-family: 'Bungee Inline', cursive;
  border-radius: 12px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: medium;
  cursor: pointer;
  background-color: #000000;
  color: #E7B10A;
  margin: 20px 0;
}

.hangman-tree {
 
  height: 250px;
  left: 55em;
}

.wrong-answer-images{
  position: absolute;
  bottom: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hangman-head {
  position: absolute;
  height: 63px;
  bottom: 19px;
  right: 4px;
}

.hangman-body{
  position: absolute;
  height: 63px;
  right: 10px;
  top: -14px;
}

.right-arm {
  position: absolute;
  height: 50px;
  top: -17px;
  right: -13px;
}

.left-arm {
  position: absolute;
  height: 50px;
  top: -12px;
  right: 64px;
}

.right-leg {
  position: absolute;
  height: 45px;
  top: 43px;
  right: 2px;
}

.left-leg {
  position: absolute;
  height: 39px;
  top: 49px;
  right: 35px;
}


